.myNavbar{
    color: white !important;
}

/*scroll bar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.rowclass{
    padding-top:5px;
    padding-bottom: 5px;
    text-align: justify;
}


.columndata{
    text-align: left;
}

.col-sm-2{
    font-weight: 500;
}

.img-overlay{
    padding-top: 130%;
    height: 50%;
}

.animeCard{
    cursor: pointer;
    transition: 1s;
}

.animeCard:hover{
    transform: scale3d(1.1,1.1,1.5);
}
.rating-stars{
    color:yellow;
    font-size: 22px;
}

.animeDetailCard{
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.animeDetailsRow{
    background-color: rgb(226, 227, 228);
    opacity: 0.9;
    padding:10px;
    border-radius: 5px;
}

.corousal-style{
    object-fit: cover;
}
.gradient-style{
    width: 100%;
    left:0px;
    right:0px;
    bottom:0px;
    background-image: linear-gradient(rgba(255, 255, 255, 0),rgb(255, 255, 255),rgb(255, 255, 255)) !important;
}

.corousal-style{
    cursor: pointer;
}

.courousal-icons{
    font-size: 30px;
    color: black;
}

@media only screen and (max-width: 320px){
    .videoplayer{
        width: 200px;
    }
    
}


